# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# OS Files
.DS_Store
Thumbs.db

# Generated Reports
reports/
generated_reports/
.envbackend/test.py